@import url('https://fonts.googleapis.com/css?family=Knewave');

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

body {
  padding-top: 54px;
}

.business-header {
  height: 90vh;
  min-height: 300px;
  background: url('https://images.pexels.com/photos/1375901/pexels-photo-1375901.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
    center center no-repeat fixed;
  /* replace scroll with "fixed" above will cause image to be fixed */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.card {
  height: 100%;
}

#hero-text {
  padding: 100px;
  font-family: 'Knewave', cursive;
  font-size: 3.2em;
  text-align: center;
  position: fixed;
}

/* Styles specific to desktop view go in here */
@media (min-width: 992px) {
  body {
    padding-top: 70px;
  }
  #navbar {
    height: 70px;
  }

  #hero-text {
    font-size: 5em;
  }
}
